@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: monospace;
  @apply m-0
  p-0;
}

body {
  @apply bg-[#50723c];
}
.weatherCards {
  @apply mb-2 relative
    w-auto 
    rounded-xl 
    shadow-md 
    flex 
    min-h-28 
    text-lg 
    justify-evenly 
    content-center 
    items-center;
}

.hourlyForecast {
  @apply mb-2 relative
  w-auto 
  rounded-xl 
  flex 
  min-h-28 
  text-lg 
  justify-evenly 
  content-center 
  items-center;
}

.Clouds {
  @apply bg-gradient-to-r from-[#34344A] !important;
}

.Clear {
  @apply bg-gradient-to-r from-[#edd382];
}

.default {
  @apply bg-gradient-to-r from-[#fc9e6f];
}

.Rain {
  @apply bg-gradient-to-r from-[#8eb8e5];
}

.Snow {
  @apply bg-gradient-to-r from-[#d2d6ef];
}

.primaryButton {
  @apply relative 
  inline-flex 
  items-center 
  justify-center
  h-10 
  w-24 
  m-1
  overflow-hidden 
  text-sm 
  font-medium
text-gray-900 
  rounded-lg  
  bg-gradient-to-br
  from-[#34344A]
  to-blue-500
  group-hover:from-purple-600
  group-hover:to-blue-500
  hover:text-white
  dark:text-white 
  focus:ring-4 
  focus:outline-none;
}

.primaryButtonSpan {
  @apply relative 
  h-9
  px-5
  py-2.5 
  transition-all 
  ease-in 
  duration-75 
  
  bg-white 
  dark:bg-gray-900 
  rounded-md 
  group-hover:bg-opacity-0;
}

/* Weather condition cards */

.conditionContainer {
  @apply relative;
}

.conditionImgContainer {
  @apply w-10/12;
}

.conditionInformation {
  @apply grid grid-cols-1 justify-center;
}

/* Chart */
/* Tooltip active */
.tooltip {
  @apply rounded-sm
  bg-black
  bg-opacity-35
  text-white
  p-1
  shadow-sm
  text-center;
}
